
notebooks/.ipynb_checkpoints/Auto-checkpoint.ipynb
notebooks/.ipynb_checkpoints/Auto-checkpoint.py
notebooks/.ipynb_checkpoints/Chapter 3 Auto-checkpoint.ipynb
notebooks/.ipynb_checkpoints/Boston-checkpoint.ipynb
notebooks/.ipynb_checkpoints/College-checkpoint.ipynb
.DS_Store
notebooks/.ipynb_checkpoints/Chapter 3 Carseats-checkpoint.ipynb
